<!-- buttonName: it serve as the parameter needed for this button -->
<!-- When using this button component, it would look like this: { buttonName: 'Text Input' } -->
<!-- (<%= %>) - rendered the value or text into html -->

<button
  hx-get="/components/modal/preview"
  hx-trigger="click"
  hx-vals='{"title": "<%= button %>", "description": "<%= description %>", "path": "<%= path %>"}'
  hx-target="#preview"
  class="w-full focus:outline-none focus:ring-4 focus:ring-gray-100 font-medium text-sm py-1 text-left pl-5"
>
  <%= button %>
</button>
