<!-- This symbol (<%- %>) - rendered the ejs file in html format  -->
<!-- include keyword requires a filename option or file directory -->

<!-- Input Components -->
<div class="flex flex-col gap-3 ">
	<p class="text-lg font-sem-bold text-center ">Input Block</p>

	<!-- Check Box -->
	<%- include('./button.ejs', { buttonName: 'Check Box', description:'Use this for enabling users to select one or more options from a list, allowing for multiple selections, such as agreeing to terms or choosing preferences.' }) %>

	<!-- Multi Select -->
	<%- include('./button.ejs', { buttonName: 'Multi-Select', description:'Use this for allowing users to select multiple options from a dropdown list or a set of choices, such as selecting several categories or tags.' }) %>

	<!-- Image  -->
	<%- include('./button.ejs', { buttonName: 'Image Upload',description:'Use this for allowing users to upload image files from their device, such as profile pictures or photo attachments.' }) %>

	<!-- Date -->
	<%- include('./button.ejs', { buttonName: 'Date', description:'Use this for selecting a specific date from a calendar interface, such as choosing a birthdate or scheduling an appointment.' }) %>
</div>
