<!-- Title and Description of the component -->
<!-- buttonName: it serve as the parameter needed for this button -->
<!-- When using this button component, it would look like this: { title: 'Text Input' } -->
<!-- (<%= %>) - rendered the value or text into html -->

<div class="flex flex-col justify-between p-5 gap-5 h-full overflow-auto">
	<div class="flex flex-col gap-5">
		<h3 class="text-lg font-semibold">
			<%= title %>
		</h3>
		<p class="text-sm text-gray-500">
			<%= description %>
		</p>
	</div>

	<div class="w-full h-52 py-4 ">
		<h1>Example</h1>
		<div class="relative">
			<div class="load-indicator absolute w-full flex justify-start" id="loader"><img src="/assets/25.gif" width="35" class="object-contain" /></div>
			<div hx-post="/components/fields/<%= type %>" hx-indicator="#loader" hx-trigger="load" hx-swap="innerHTML"
				hx-vals='js:{ "view": true, "content": "<%= example_text %>", "placeholder": "<%= example_text %>" }'
				class="w-full max-w-screen-md max-h-full overflow-y-auto">
			</div>
		</div>
	</div>
	<button hx-post="/components/fields/<%= type %>" hx-trigger="click" hx-swap="outerHTML" hx-target=".modal"
		hx-vals='js:{ "focus": true, "content": "<%= title %>" }'
		class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700">
		Insert
	</button>
</div>