<% if (query.view) { %>
<div class="input-block title">
  <div class="block-container">
    <div
      class="content-container flex text-black text-[2.5rem] h-fit outline-none font-bold w-full break-all overflow-hidden"
      spellcheck="false"
    >
      <%= query.content %>
    </div>
  </div>
</div>
<% } else { %>
<!-- prettier-ignore -->

<div class="input-block title" draggable="true" id="<%= query.id %>">
        <div class="block-container">
          <div show-pl-click=true contenteditable=true placeholder="<%= query.placeholder ? query.placeholder : 'Add a heading'%>"
            data-type="heading2" spellcheck="false" data-name="heading2_<%= query.id %>"
            data-name="<%= query.name %>_<%= query.id %>" id="input_<%= query.id %>"
            class="content-container  text-black text-[2.5rem] outline-none font-bold w-full"><%- query.content %></div>
          <%- include("../tooltip") %>
            <div class="move-dropzone" data-position="below"></div>
            <div class="move-dropzone" data-position="top"></div>
        </div>
      </div>
<% } %>
