<% if (query.view){ %>
  <label for="input_<%= query.id %>" data-type="label" class="text-[1rem] w-full label outline-none resize-none mt-4">
    <%= query.label ?? query.content%>
  </label>
  <% } else { %>


    <div class="input-block" draggable="true" id="<%= query.id %>">
      <div class="block-container">
        <div contenteditable="true" show-pl-click="true"
          class="content-container text-[1rem] label outline-none resize-none" data-type="label"
          data-for="<%= query.for %>" data-name="label_<%= query.id %>" id="input_<%= query.id %>"
          placeholder="<%= query.placeholder ?? 'Label'%>">
          <%= query.content %>
        </div>
        <div hx-get="components/tooltip" hx-swap="outerHTML" hx-trigger="load"></div>
        <div class="move-dropzone" data-position="left"></div>
        <div class="move-dropzone" data-position="right"></div>
        <div class="move-dropzone" data-position="below"></div>
        <div class="move-dropzone" data-position="top"></div>
      </div>
    </div>
    <% } %>