<div class="input-block" draggable="true" id="<%= query.id %>">
  <div class="block-container">
    <div class="flex input-flex gap-3">
      <div class="justify-start items-center gap-2.5 inline-flex">
        <div class="ml-4 w-4 h-4 border rounded-full border-gray-600"></div>
        <div contenteditable="true" show-pl-click="true"
          class="content-container text-neutral-600 text-md font-extralight outline-none min-w-28 max-w-80"
          data-type="radiobox" data-for="<%= query.for %>" placeholder="Radio" data-name="radio_<%= query.id %>">
          <%= query.content %>
        </div>
        <button class="option" type="button" hx-get="/components/fields/radiobox" tabindex="-1" hx-trigger="click"
          hx-target="closest .input-block" hx-vals='{"id": "<%= query.id %>"}' hx-swap="afterend"
          onclick="handleClick(this)">
          Add option
        </button>
        <div hx-get="components/tooltip" hx-swap="outerHTML" hx-trigger="load"></div>
      </div>
    </div>
    <div class="move-dropzone" data-position="left"></div>
    <div class="move-dropzone" data-position="right"></div>
    <div class="move-dropzone" data-position="below"></div>
    <div class="move-dropzone" data-position="top"></div>
  </div>
</div>