<% if(query.view){ %>
  <div class="block-container ">
    <div class="content-container text-[1.1rem] w-full outline-none resize-none" spellcheck="false"
      data-type="textfield">
      <%=query.content %>
    </div>
  </div>
  <% }else{ %>
    <div class="input-block" draggable="true" id="<%= query.id %>">
      <div class="block-container ">
        <div contenteditable="true" show-pl-click="false"
          class="content-container text-[1.1rem] w-full outline-none resize-none" spellcheck="false"
          data-type="textfield" id="input_<%= query.id %>" <%=query.focus==="true" ? "autofocus" : "" %>
          data-name="textfield_<%= query.id %>"
            placeholder="Start typing text or add a block."><%= query.content %>
        </div>
        <%- include('../tooltip'); %>

          <div class="move-dropzone" data-position="left"></div>
          <div class="move-dropzone" data-position="right"></div>
          <div class="move-dropzone" data-position="below"></div>
          <div class="move-dropzone" data-position="top"></div>
      </div>
    </div>
    <% } %>