<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/css/app.css" />

  <script src="https://unpkg.com/htmx.org@2.0.0"
    integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
    crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <script src="/js/scripts.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,regular,500" media="all">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Figtree:ital,wght@0,300..900;1,300..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/assets/ic.png" type="image/icon type">

		<title>DynaForm</title>
</head>

<body>
  <div class="app">
      <div class="load-indicator w-screen h-screen fixed bg-white flex justify-center items-center" id="spinner"><img src="/assets/1490.gif" class="object-contain" /></div>
      <main class="mainscreen w-screen items-start inline-flex">
        <div class="relative min-h-screen w-screen pt-16" id="form">
          <div class="inset-2 header-image hover:cursor-default" id="image-wrapper">
        
          </div>
          <div class="hidden" hidden id="response_id" data-response-id="<%= response_id %>"></div>
          <div class="w-full flex justify-center">
            <form class="flex flex-col h-full w-full max-w-screen-lg px-10 mb-16" onsubmit="submitResponse(event)" id="<%= form._id %>" data-form-id="">
              <% form.components.forEach(item => { 
                if(item.type === "divider"){
                item.content = "";
                } %>
                <div hx-post="/components/fields/<%=item.type%>" hx-indicator="#spinner" hx-trigger="load" hx-swap="outerHTML"
                  hx-vals='js:{"view": true, "options": "<%= item.options %>","name": "<%= item.name %>", "content": "<%=item.content%>","placeholder":"<%= item.placeholder && item.placeholder.replace(/\n\s*/g, '') %>", "id": "<%= item._id %>"}'
                  class="form-field"></div>
                <% }); %>
              <div hx-post="/components/button" hx-swap="outerHTML" hx-trigger="load" hx-vals='js:{"type": "button"}'></div>
            </form>
          </div>
        </div>
  </div>
  </main>
  </div>
 
</body>
  <script>
    document.addEventListener('DOMContentLoaded', async () => {
      const responseID = document.getElementById('response_id').getAttribute('data-response-id');
      
      const res = await fetch(`/response/r/${responseID}`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      });
      console.log(res);
      responses = await res.json();
      
      responses.forEach((response) => {
        const component = document.getElementById(response.component_id);
        component.setAttribute("readonly", true);
        //  id is set on the grand parent div in the select, checkbox, and radiobox components
        const inputElement = component.querySelector('input');
        const selectElement = component.querySelector('select');

        if(inputElement) { 
          //input element is checkbox or radiobox
          //check again
          if(inputElement.type == "checkbox" || inputElement.type == "radio") {
            
            inputElement.checked = response.value == 'true';
            //inputElement.setAttribute("checked", response.value)
            
            inputElement.addEventListener('click', (e) => {
              e.preventDefault();
              return response.value == 'true';
            });
            
          }  
        }else if(selectElement) {
          //select element is select
          selectElement.value = response.value;
          selectElement.disabled = true;
        }


        console.log({inputElement, selectElement})
        if(component.type == "radio" || component.type == "checkbox"){
          //component.checked= true;
          

        }else{

          component.value = response.value;
          component.setAttribute("readonly", true);
        }
      })
      
    });
  </script>
</html>