<div
	class="formcard self-stretch h-24 p-2.5 bg-white rounded-2xl border border-black/opacity-30 justify-between items-center inline-flex">
	<div class="self-stretch py-3 px-6 flex-col justify-start items-start gap-2.5 inline-flex">
		<div class="self-stretch justify-between items-center inline-flex gap-2">
			<button class="text-neutral-700 text-xl font-bold" hx-get="/form/<%= options.id %>" hx-trigger="click"
				hx-push-url="true" hx-target=".mainscreen" hx-swap="outerHTML">
				<%= options.name %>
			</button>
			<button
				class="relative group transition-all duration-200 py-2 ml-2 focus:overflow-visible overflow-hidden flex flex-row items-center justify-center gap-1 rounded-lg">
				<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M17.5 16.25C17.5 15.9185 17.3683 15.6005 17.1339 15.3661C16.8995 15.1317 16.5815 15 16.25 15C15.9185 15 15.6005 15.1317 15.3661 15.3661C15.1317 15.6005 15 15.9185 15 16.25C15 16.5815 15.1317 16.8995 15.3661 17.1339C15.6005 17.3683 15.9185 17.5 16.25 17.5C16.5815 17.5 16.8995 17.3683 17.1339 17.1339C17.3683 16.8995 17.5 16.5815 17.5 16.25ZM11.25 16.25C11.25 15.9185 11.1183 15.6005 10.8839 15.3661C10.6495 15.1317 10.3315 15 10 15C9.66848 15 9.35054 15.1317 9.11612 15.3661C8.8817 15.6005 8.75 15.9185 8.75 16.25C8.75 16.5815 8.8817 16.8995 9.11612 17.1339C9.35054 17.3683 9.66848 17.5 10 17.5C10.3315 17.5 10.6495 17.3683 10.8839 17.1339C11.1183 16.8995 11.25 16.5815 11.25 16.25ZM5 16.25C5 15.9185 4.8683 15.6005 4.63388 15.3661C4.39946 15.1317 4.08152 15 3.75 15C3.41848 15 3.10054 15.1317 2.86612 15.3661C2.6317 15.6005 2.5 15.9185 2.5 16.25C2.5 16.5815 2.6317 16.8995 2.86612 17.1339C3.10054 17.3683 3.41848 17.5 3.75 17.5C4.08152 17.5 4.39946 17.3683 4.63388 17.1339C4.8683 16.8995 5 16.5815 5 16.25ZM17.5 10C17.5 9.66848 17.3683 9.35054 17.1339 9.11612C16.8995 8.8817 16.5815 8.75 16.25 8.75C15.9185 8.75 15.6005 8.8817 15.3661 9.11612C15.1317 9.35054 15 9.66848 15 10C15 10.3315 15.1317 10.6495 15.3661 10.8839C15.6005 11.1183 15.9185 11.25 16.25 11.25C16.5815 11.25 16.8995 11.1183 17.1339 10.8839C17.3683 10.6495 17.5 10.3315 17.5 10ZM17.5 3.75C17.5 3.41848 17.3683 3.10054 17.1339 2.86612C16.8995 2.6317 16.5815 2.5 16.25 2.5C15.9185 2.5 15.6005 2.6317 15.3661 2.86612C15.1317 3.10054 15 3.41848 15 3.75C15 4.08152 15.1317 4.39946 15.3661 4.63388C15.6005 4.8683 15.9185 5 16.25 5C16.5815 5 16.8995 4.8683 17.1339 4.63388C17.3683 4.39946 17.5 4.08152 17.5 3.75ZM11.25 10C11.25 9.66848 11.1183 9.35054 10.8839 9.11612C10.6495 8.8817 10.3315 8.75 10 8.75C9.66848 8.75 9.35054 8.8817 9.11612 9.11612C8.8817 9.35054 8.75 9.66848 8.75 10C8.75 10.3315 8.8817 10.6495 9.11612 10.8839C9.35054 11.1183 9.66848 11.25 10 11.25C10.3315 11.25 10.6495 11.1183 10.8839 10.8839C11.1183 10.6495 11.25 10.3315 11.25 10ZM11.25 3.75C11.25 3.41848 11.1183 3.10054 10.8839 2.86612C10.6495 2.6317 10.3315 2.5 10 2.5C9.66848 2.5 9.35054 2.6317 9.11612 2.86612C8.8817 3.10054 8.75 3.41848 8.75 3.75C8.75 4.08152 8.8817 4.39946 9.11612 4.63388C9.35054 4.8683 9.66848 5 10 5C10.3315 5 10.6495 4.8683 10.8839 4.63388C11.1183 4.39946 11.25 4.08152 11.25 3.75ZM5 10C5 9.66848 4.8683 9.35054 4.63388 9.11612C4.39946 8.8817 4.08152 8.75 3.75 8.75C3.41848 8.75 3.10054 8.8817 2.86612 9.11612C2.6317 9.35054 2.5 9.66848 2.5 10C2.5 10.3315 2.6317 10.6495 2.86612 10.8839C3.10054 11.1183 3.41848 11.25 3.75 11.25C4.08152 11.25 4.39946 11.1183 4.63388 10.8839C4.8683 10.6495 5 10.3315 5 10ZM5 3.75C5 3.41848 4.8683 3.10054 4.63388 2.86612C4.39946 2.6317 4.08152 2.5 3.75 2.5C3.41848 2.5 3.10054 2.6317 2.86612 2.86612C2.6317 3.10054 2.5 3.41848 2.5 3.75C2.5 4.08152 2.6317 4.39946 2.86612 4.63388C3.10054 4.8683 3.41848 5 3.75 5C4.08152 5 4.39946 4.8683 4.63388 4.63388C4.8683 4.39946 5 4.08152 5 3.75Z"
						stroke="#545454" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round" />
				</svg>


				<div
					class="absolute shadow-lg left-8 top-0 w-[10.5rem] h-max p-2 bg-white border border-zinc-200 rounded-lg flex flex-col items-center gap-2">
					<div hx-get="/form/<%= options.id %>" hx-trigger="click" hx-push-url="true" hx-target=".mainscreen"
						hx-swap="outerHTML"
						class="flex flex-row gap-2 justify-start w-full items-center text-center font-bold text-md hover:bg-zinc-100 p-2 rounded-lg">
						<svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g clip-path="url(#clip0_180_162)">
								<path
									d="M11 3.5C13.4386 3.5 15.6051 4.59988 17.1477 5.96138C17.9221 6.64475 18.56 7.41212 19.0097 8.176C19.4516 8.92587 19.75 9.73875 19.75 10.5C19.75 11.2613 19.4525 12.0741 19.0097 12.824C18.56 13.5879 17.9221 14.3553 17.1477 15.0386C15.6051 16.4001 13.4378 17.5 11 17.5C8.56138 17.5 6.39487 16.4001 4.85225 15.0386C4.07787 14.3553 3.44 13.5879 2.99025 12.824C2.5475 12.0741 2.25 11.2613 2.25 10.5C2.25 9.73875 2.5475 8.92587 2.99025 8.176C3.44 7.41212 4.07787 6.64475 4.85225 5.96138C6.39487 4.59988 8.56225 3.5 11 3.5ZM11 5.25C9.089 5.25 7.318 6.11888 6.01075 7.273C5.35975 7.847 4.84525 8.47438 4.49787 9.06413C4.14262 9.66788 4 10.1675 4 10.5C4 10.8325 4.14262 11.3321 4.49787 11.9359C4.84525 12.5256 5.35975 13.1521 6.01075 13.727C7.318 14.8811 9.089 15.75 11 15.75C12.911 15.75 14.682 14.8811 15.9892 13.727C16.6402 13.1521 17.1547 12.5256 17.5021 11.9359C17.8574 11.3321 18 10.8325 18 10.5C18 10.1675 17.8574 9.66788 17.5021 9.06413C17.1547 8.47438 16.6402 7.84788 15.9892 7.273C14.682 6.11888 12.911 5.25 11 5.25ZM11 7.875C11.077 7.875 11.1531 7.87821 11.2284 7.88462C11.0384 8.21787 10.9632 8.60431 11.0143 8.98448C11.0654 9.36466 11.24 9.71751 11.5113 9.98875C11.7825 10.26 12.1353 10.4346 12.5155 10.4857C12.8957 10.5368 13.2821 10.4616 13.6154 10.2716C13.6614 10.7985 13.5472 11.327 13.2877 11.7879C13.0282 12.2488 12.6355 12.6205 12.1611 12.8544C11.6868 13.0883 11.1528 13.1734 10.6292 13.0986C10.1056 13.0239 9.61682 12.7927 9.22687 12.4353C8.83693 12.078 8.56402 11.6112 8.44391 11.0961C8.3238 10.581 8.36209 10.0417 8.55376 9.54873C8.74542 9.05578 9.08153 8.63223 9.51804 8.33356C9.95455 8.0349 10.4711 7.87507 11 7.875Z"
									fill="#545454" />
							</g>
							<defs>
								<clipPath id="clip0_180_162">
									<rect width="21" height="21" fill="white" transform="translate(0.5)" />
								</clipPath>
							</defs>
						</svg>


						<h1>View Form</h1>
					</div>
					<div hx-get="/form/<%= options.id %>" hx-swap="innerHTML" hx-target=".mainscreen"
						class="flex flex-row gap-2 justify-start w-full items-center text-center font-bold text-md hover:bg-zinc-100 p-2 rounded-lg">
						<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M6.04163 5.5415H5.24996C4.83003 5.5415 4.42731 5.70832 4.13037 6.00525C3.83344 6.30218 3.66663 6.70491 3.66663 7.12484V14.2498C3.66663 14.6698 3.83344 15.0725 4.13037 15.3694C4.42731 15.6664 4.83003 15.8332 5.24996 15.8332H12.375C12.7949 15.8332 13.1976 15.6664 13.4945 15.3694C13.7915 15.0725 13.9583 14.6698 13.9583 14.2498V13.4582"
								stroke="#545454" stroke-width="1.58333" stroke-linecap="round"
								stroke-linejoin="round" />
							<path
								d="M13.1667 3.95842L15.5417 6.33342M16.6381 5.21321C16.9499 4.90141 17.1251 4.47853 17.1251 4.03758C17.1251 3.59664 16.9499 3.17375 16.6381 2.86196C16.3263 2.55016 15.9034 2.375 15.4625 2.375C15.0216 2.375 14.5987 2.55016 14.2869 2.86196L7.625 9.50008V11.8751H10L16.6381 5.21321Z"
								stroke="#545454" stroke-width="1.58333" stroke-linecap="round"
								stroke-linejoin="round" />
						</svg>


						<h1>Edit Form</h1>
					</div>

					<span hx-delete="/delete/<%= options.id %>" hx-swap="delete" hx-trigger="click"
						hx-target="closest .formcard"
						class="flex flex-row w-full bg-slate-50 gap-2 justify-start items-center hover:bg-zinc-100 p-2 rounded-lg">
						<svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M4.16675 5.97917H17.8334M9.29175 9.39583V14.5208M12.7084 9.39583V14.5208M5.02091 5.97917L5.87508 16.2292C5.87508 16.6822 6.05507 17.1168 6.37544 17.4371C6.69582 17.7575 7.13034 17.9375 7.58341 17.9375H14.4167C14.8698 17.9375 15.3043 17.7575 15.6247 17.4371C15.9451 17.1168 16.1251 16.6822 16.1251 16.2292L16.9792 5.97917M8.43758 5.97917V3.41667C8.43758 3.19013 8.52757 2.97287 8.68776 2.81268C8.84795 2.65249 9.06521 2.5625 9.29175 2.5625H12.7084C12.935 2.5625 13.1522 2.65249 13.3124 2.81268C13.4726 2.97287 13.5626 3.19013 13.5626 3.41667V5.97917"
								stroke="#B91C1C" stroke-width="1.70833" stroke-linecap="round"
								stroke-linejoin="round" />
						</svg>


						<h1 class="text-red-700 font-bold text-md">
							Delete Form
						</h1>
					</span>
				</div>
			</button>
		</div>
		<div class="text-zinc-600 text-xs font-light flex gap-4">
			<div>
				<%= options.date %>
			</div>
			<div class="text-green-500 font-bold">Open</div>
		</div>
	</div>
	<div class="h-11 p-2.5 justify-start items-center gap-2.5 flex">
		<!-- <div
      class="w-20 h-6 rounded-lg justify-center items-center flex"
    >
      <div class="text-black text-xs font-light">Edit</div>
    </div> -->

		<div
			class="w-fit px-3 h-10 text-white rounded-full bg-gray-900 justify-center gap-2 items-center flex cursor-pointer">
			<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M3.9 12C3.9 10.29 5.29 8.9 7 8.9H11V7H7C5.67392 7 4.40215 7.52678 3.46447 8.46447C2.52678 9.40215 2 10.6739 2 12C2 13.3261 2.52678 14.5979 3.46447 15.5355C4.40215 16.4732 5.67392 17 7 17H11V15.1H7C5.29 15.1 3.9 13.71 3.9 12ZM8 13H16V11H8V13ZM17 7H13V8.9H17C18.71 8.9 20.1 10.29 20.1 12C20.1 13.71 18.71 15.1 17 15.1H13V17H17C18.3261 17 19.5979 16.4732 20.5355 15.5355C21.4732 14.5979 22 13.3261 22 12C22 10.6739 21.4732 9.40215 20.5355 8.46447C19.5979 7.52678 18.3261 7 17 7Z"
					fill="#F8F8F8" />
			</svg>

			<div class="text-sm font-light pr-1">Share</div>
		</div>
	</div>
</div>