<div
	class="formcard px-11 self-stretch h-24 p-2.5 bg-white rounded-2xl border border-black/opacity-30 justify-between items-center inline-flex"
>
	<div
		class="self-stretch py-3 flex-col justify-start items-start gap-2.5 inline-flex"
	>
		<div class="self-stretch justify-between items-center inline-flex gap-2">
			<a
				class="text-neutral-700 text-xl font-bold"
				href="/form/<%= options.id %>"
			>
				<%= options.name %>
			</a>
			<div class="relative">
				
				<button id="dropdown"
					class="relative group transition-all duration-200 py-2 ml-2 focus:overflow-visible overflow-hidden flex flex-row items-center justify-center gap-1 rounded-lg"
				>
					<svg
						width="20"
						height="20"
						viewBox="0 0 20 20"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M17.5 16.25C17.5 15.9185 17.3683 15.6005 17.1339 15.3661C16.8995 15.1317 16.5815 15 16.25 15C15.9185 15 15.6005 15.1317 15.3661 15.3661C15.1317 15.6005 15 15.9185 15 16.25C15 16.5815 15.1317 16.8995 15.3661 17.1339C15.6005 17.3683 15.9185 17.5 16.25 17.5C16.5815 17.5 16.8995 17.3683 17.1339 17.1339C17.3683 16.8995 17.5 16.5815 17.5 16.25ZM11.25 16.25C11.25 15.9185 11.1183 15.6005 10.8839 15.3661C10.6495 15.1317 10.3315 15 10 15C9.66848 15 9.35054 15.1317 9.11612 15.3661C8.8817 15.6005 8.75 15.9185 8.75 16.25C8.75 16.5815 8.8817 16.8995 9.11612 17.1339C9.35054 17.3683 9.66848 17.5 10 17.5C10.3315 17.5 10.6495 17.3683 10.8839 17.1339C11.1183 16.8995 11.25 16.5815 11.25 16.25ZM5 16.25C5 15.9185 4.8683 15.6005 4.63388 15.3661C4.39946 15.1317 4.08152 15 3.75 15C3.41848 15 3.10054 15.1317 2.86612 15.3661C2.6317 15.6005 2.5 15.9185 2.5 16.25C2.5 16.5815 2.6317 16.8995 2.86612 17.1339C3.10054 17.3683 3.41848 17.5 3.75 17.5C4.08152 17.5 4.39946 17.3683 4.63388 17.1339C4.8683 16.8995 5 16.5815 5 16.25ZM17.5 10C17.5 9.66848 17.3683 9.35054 17.1339 9.11612C16.8995 8.8817 16.5815 8.75 16.25 8.75C15.9185 8.75 15.6005 8.8817 15.3661 9.11612C15.1317 9.35054 15 9.66848 15 10C15 10.3315 15.1317 10.6495 15.3661 10.8839C15.6005 11.1183 15.9185 11.25 16.25 11.25C16.5815 11.25 16.8995 11.1183 17.1339 10.8839C17.3683 10.6495 17.5 10.3315 17.5 10ZM17.5 3.75C17.5 3.41848 17.3683 3.10054 17.1339 2.86612C16.8995 2.6317 16.5815 2.5 16.25 2.5C15.9185 2.5 15.6005 2.6317 15.3661 2.86612C15.1317 3.10054 15 3.41848 15 3.75C15 4.08152 15.1317 4.39946 15.3661 4.63388C15.6005 4.8683 15.9185 5 16.25 5C16.5815 5 16.8995 4.8683 17.1339 4.63388C17.3683 4.39946 17.5 4.08152 17.5 3.75ZM11.25 10C11.25 9.66848 11.1183 9.35054 10.8839 9.11612C10.6495 8.8817 10.3315 8.75 10 8.75C9.66848 8.75 9.35054 8.8817 9.11612 9.11612C8.8817 9.35054 8.75 9.66848 8.75 10C8.75 10.3315 8.8817 10.6495 9.11612 10.8839C9.35054 11.1183 9.66848 11.25 10 11.25C10.3315 11.25 10.6495 11.1183 10.8839 10.8839C11.1183 10.6495 11.25 10.3315 11.25 10ZM11.25 3.75C11.25 3.41848 11.1183 3.10054 10.8839 2.86612C10.6495 2.6317 10.3315 2.5 10 2.5C9.66848 2.5 9.35054 2.6317 9.11612 2.86612C8.8817 3.10054 8.75 3.41848 8.75 3.75C8.75 4.08152 8.8817 4.39946 9.11612 4.63388C9.35054 4.8683 9.66848 5 10 5C10.3315 5 10.6495 4.8683 10.8839 4.63388C11.1183 4.39946 11.25 4.08152 11.25 3.75ZM5 10C5 9.66848 4.8683 9.35054 4.63388 9.11612C4.39946 8.8817 4.08152 8.75 3.75 8.75C3.41848 8.75 3.10054 8.8817 2.86612 9.11612C2.6317 9.35054 2.5 9.66848 2.5 10C2.5 10.3315 2.6317 10.6495 2.86612 10.8839C3.10054 11.1183 3.41848 11.25 3.75 11.25C4.08152 11.25 4.39946 11.1183 4.63388 10.8839C4.8683 10.6495 5 10.3315 5 10ZM5 3.75C5 3.41848 4.8683 3.10054 4.63388 2.86612C4.39946 2.6317 4.08152 2.5 3.75 2.5C3.41848 2.5 3.10054 2.6317 2.86612 2.86612C2.6317 3.10054 2.5 3.41848 2.5 3.75C2.5 4.08152 2.6317 4.39946 2.86612 4.63388C3.10054 4.8683 3.41848 5 3.75 5C4.08152 5 4.39946 4.8683 4.63388 4.63388C4.8683 4.39946 5 4.08152 5 3.75Z"
							stroke="#545454"
							stroke-width="1.25"
							stroke-linecap="round"
							stroke-linejoin="round"
						/>
					</svg>
			    </button>
					<div id="dropdownMenu"
						class="absolute flex shadow-lg left-8 top-0 w-[10.5rem] h-max p-2 bg-white border border-zinc-200 rounded-lg flex-col items-center gap-2"
					>
						<a
							href="/form/<%= options.id %>"
							class="flex flex-row gap-2 justify-start w-full items-center text-center font-bold text-md hover:bg-zinc-100 p-2 rounded-lg" 
						>
						<div class="h-5 w-5">
							<svg width="26" height="27" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M0 8C0 8 3 2 8 2C13 2 16 8 16 8C16 8 13 14 8 14C3 14 0 8 0 8ZM1.81 8.13L1.73 8L1.812 7.87C2.138 7.36 2.618 6.683 3.232 6.014C4.494 4.635 6.12 3.5 8 3.5C9.878 3.5 11.506 4.635 12.77 6.014C13.3292 6.62912 13.8313 7.29386 14.27 8C13.8293 8.7053 13.3267 9.36993 12.768 9.986C11.506 11.365 9.88 12.5 8 12.5C6.122 12.5 4.494 11.365 3.23 9.986C2.70467 9.40891 2.22961 8.78798 1.81 8.13ZM11 8C10.9998 8.63153 10.8003 9.24689 10.43 9.75842C10.0596 10.27 9.5373 10.6516 8.9374 10.8489C8.33749 11.0462 7.69061 11.0492 7.08891 10.8574C6.48721 10.6656 5.96138 10.2888 5.58634 9.78074C5.21129 9.27265 5.00614 8.65915 5.00014 8.02765C4.99413 7.39615 5.18756 6.77886 5.55287 6.26372C5.91819 5.74858 6.43675 5.36186 7.03469 5.15866C7.63263 4.95545 8.27945 4.94612 8.883 5.132C8.66199 5.23201 8.46853 5.38413 8.31922 5.57532C8.16991 5.76651 8.06919 5.99106 8.0257 6.22971C7.98222 6.46837 7.99727 6.71401 8.06956 6.94558C8.14184 7.17714 8.26922 7.38772 8.44075 7.55925C8.61228 7.73078 8.82286 7.85816 9.05442 7.93044C9.28599 8.00273 9.53163 8.01778 9.77029 7.9743C10.0089 7.93081 10.2335 7.83009 10.4247 7.68078C10.6159 7.53147 10.768 7.33801 10.868 7.117C10.9558 7.4031 11.0003 7.70073 11 8Z" fill="black"/>
							</svg>
						</div>
	
							View Form
						</a>
						<a
							href="/form/<%= options.id %>/edit"
							class="flex flex-row z-20 gap-2 justify-start w-full items-center text-center font-bold text-md hover:bg-zinc-100 p-2 rounded-lg"
						>
						<div class="h-5 w-5">
							<svg
								width="20"
								height="19"
								viewBox="0 0 20 19"
								fill="none"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									d="M6.04163 5.5415H5.24996C4.83003 5.5415 4.42731 5.70832 4.13037 6.00525C3.83344 6.30218 3.66663 6.70491 3.66663 7.12484V14.2498C3.66663 14.6698 3.83344 15.0725 4.13037 15.3694C4.42731 15.6664 4.83003 15.8332 5.24996 15.8332H12.375C12.7949 15.8332 13.1976 15.6664 13.4945 15.3694C13.7915 15.0725 13.9583 14.6698 13.9583 14.2498V13.4582"
									stroke="#545454"
									stroke-width="1.58333"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
								<path
									d="M13.1667 3.95842L15.5417 6.33342M16.6381 5.21321C16.9499 4.90141 17.1251 4.47853 17.1251 4.03758C17.1251 3.59664 16.9499 3.17375 16.6381 2.86196C16.3263 2.55016 15.9034 2.375 15.4625 2.375C15.0216 2.375 14.5987 2.55016 14.2869 2.86196L7.625 9.50008V11.8751H10L16.6381 5.21321Z"
									stroke="#545454"
									stroke-width="1.58333"
									stroke-linecap="round"
									stroke-linejoin="round"
								/>
							</svg>
						</div>
							Edit Form
						</a>
	
						<button
						class="flex  flex-row w-full bg-slate-50 gap-2 justify-start items-center hover:bg-zinc-100 p-2 rounded-lg"
						hx-delete="/delete/<%= options.id %>"
						hx-swap="delete"
						hx-trigger="confirmed"
						hx-target="closest .formcard"
						hx-on:click="confirmDelete(this)"
					>
						<svg
							width="22"
							height="21"
							viewBox="0 0 22 21"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
						>
							<path
								d="M4.16675 5.97917H17.8334M9.29175 9.39583V14.5208M12.7084 9.39583V14.5208M5.02091 5.97917L5.87508 16.2292C5.87508 16.6822 6.05507 17.1168 6.37544 17.4371C6.69582 17.7575 7.13034 17.9375 7.58341 17.9375H14.4167C14.8698 17.9375 15.3043 17.7575 15.6247 17.4371C15.9451 17.1168 16.1251 16.6822 16.1251 16.2292L16.9792 5.97917M8.43758 5.97917V3.41667C8.43758 3.19013 8.52757 2.97287 8.68776 2.81268C8.84795 2.65249 9.06521 2.5625 9.29175 2.5625H12.7084C12.935 2.5625 13.1522 2.65249 13.3124 2.81268C13.4726 2.97287 13.5626 3.19013 13.5626 3.41667V5.97917"
								stroke="#B91C1C"
								stroke-width="1.70833"
								stroke-linecap="round"
								stroke-linejoin="round"
							/>
						</svg>

						<h1 class="text-red-700 font-bold text-md">Delete Form</h1>
					</button>
					</div>
			</div>
		</div>
		<div class="text-zinc-600 text-xs font-light flex gap-4">
			<div><%= options.date %></div>
			<div class="text-green-500 font-bold">Open</div>
		</div>
	</div>
	<div class="h-11 p-2.5 justify-start items-center gap-2.5 flex">
		<button hx-post="/components/modal/share" hx-trigger="click" hx-target="#sharemodal" hx-swap="innerHTML"
			class="w-fit px-3 h-10 text-white rounded-full hover:bg-neutral-700 bg-neutral-800 justify-center gap-2 items-center flex cursor-pointer"
		>
			<svg
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M3.9 12C3.9 10.29 5.29 8.9 7 8.9H11V7H7C5.67392 7 4.40215 7.52678 3.46447 8.46447C2.52678 9.40215 2 10.6739 2 12C2 13.3261 2.52678 14.5979 3.46447 15.5355C4.40215 16.4732 5.67392 17 7 17H11V15.1H7C5.29 15.1 3.9 13.71 3.9 12ZM8 13H16V11H8V13ZM17 7H13V8.9H17C18.71 8.9 20.1 10.29 20.1 12C20.1 13.71 18.71 15.1 17 15.1H13V17H17C18.3261 17 19.5979 16.4732 20.5355 15.5355C21.4732 14.5979 22 13.3261 22 12C22 10.6739 21.4732 9.40215 20.5355 8.46447C19.5979 7.52678 18.3261 7 17 7Z"
					fill="#F8F8F8"
				/>
			</svg>

			<div class="text-sm font-light pr-1">Share</div>
		</button>
	</div>
</div>

