<% if(stat === "Unpublish"||stat === "Closed"){ %>
<a
  href="/form/<%= id %>/edit" 
  class="flex flex-row w-full gap-2 justify-start items-center hover:bg-zinc-100 p-2 rounded-lg"
>
  <div class="h-5 w-5">
    <svg width="20" height="20" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4.04163 4.5415H3.24996C2.83003 4.5415 2.42731 4.70832 2.13037 5.00525C1.83344 5.30218 1.66663 5.70491 1.66663 6.12484V13.2498C1.66663 13.6698 1.83344 14.0725 2.13037 14.3694C2.42731 14.6664 2.83003 14.8332 3.24996 14.8332H10.375C10.7949 14.8332 11.1976 14.6664 11.4945 14.3694C11.7915 14.0725 11.9583 13.6698 11.9583 13.2498V12.4582" stroke="black" stroke-width="1.58333" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M11.1667 2.95842L13.5417 5.33342M14.6381 4.21321C14.9499 3.90141 15.1251 3.47853 15.1251 3.03758C15.1251 2.59664 14.9499 2.17375 14.6381 1.86196C14.3263 1.55016 13.9034 1.375 13.4625 1.375C13.0216 1.375 12.5987 1.55016 12.2869 1.86196L5.625 8.50008V10.8751H8L14.6381 4.21321Z" stroke="black" stroke-width="1.58333" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

  </div>
  <h1 class="text-black-700 font-bold text-md">Edit Form</h1>
</a>
<% } %> <% if(stat === "Publish"){%>
<button
  class="option-btn flex flex-row w-full gap-2 justify-start items-center hover:bg-zinc-100 p-2 rounded-lg"
  hx-post="/form/close/<%= id %>"
  hx-trigger="confirmed"
  id="option-<%= id %>"
  hx-target="#status-<%= id %>"
  hx-sync="#check_<%= id %>:queue first "
  hx-on:click="confirmClose(this)"
>
  <svg
    width="19"
    height="21"
    viewBox="0 0 19 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M9 20V18H2V2.00001H12V6.00001H16V11H18V5.00001L13 8.05906e-06H0.999C0.868251 -0.000518162 0.738679 0.0247305 0.617694 0.0743107C0.496708 0.123891 0.386681 0.196831 0.293902 0.288959C0.201123 0.381088 0.127412 0.4906 0.076982 0.611234C0.0265523 0.731868 0.000393164 0.861258 0 0.992008V19.008C0.00209465 19.2706 0.107418 19.5219 0.293218 19.7075C0.479017 19.8931 0.730378 19.9982 0.993 20H9ZM18.536 19.121L16.414 17L18.536 14.879L17.121 13.464L15.001 15.586L12.879 13.464L11.465 14.879L13.585 16.999L11.465 19.121L12.879 20.535L15 18.415L17.121 20.535L18.536 19.121Z"
      fill="black"
    />
  </svg>

  <h1 class="text-black-700 font-bold text-md">Close Form</h1>
</button>

<%}%> <% if(stat === "Closed"){%>
<button
  class="option-btn flex flex-row w-full gap-2 justify-start items-center hover:bg-zinc-100 p-2 rounded-lg"
  hx-post="/form/publish/<%= id %>"
  id="option-<%= id %>"
  hx-on:click="confirmOpen(this)"
  hx-trigger="confirmed"
  hx-target="#status-<%= id %>"
  hx-sync="#check_<%= id %>:queue first "
>
  <svg
    width="20"
    height="21"
    viewBox="0 0 20 21"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M11 20H2C0.9 20 0 19.1 0 18V2C0 0.9 0.9 0 2 0H10L16 6V12H14V7H9V2H2V18H11V20ZM15 19.66V17.42L17.95 20.37L19.36 18.96L16.41 16H18.65V14H13V19.66H15Z"
      fill="black"
    />
  </svg>
  <h1 class="text-black-700 font-bold text-md">Open Form</h1>
</button>

<%}%>
